.bin-empty {
  margin: 0 8px;
  font-size: var(--bin-font-size-default);
  line-height: 22px;
  text-align: center;
  .bin-empty-image {
    height: 100px;
    margin-bottom: 8px;
    svg {
      height: 100%;
      margin: auto;
    }
  }
  .bin-empty-description {
    color: var(--bin-color-text-secondary);
    margin: 0;
  }
}
.bin-empty-normal {
  margin: 32px 0;
  color: var(--bin-color-text-disabled);
  .bin-empty-image {
    height: 40px;
  }
}
.bin-empty-img-simple-ellipse {
  fill: var(--bin-fill-color-2);
}
.bin-empty-img-simple-g {
  stroke: var(--bin-border-color-base);
}
.bin-empty-img-simple-path {
  fill: var(--bin-fill-color-1);
}
.bin-empty-description {
  margin: 0;
}
