@import './dark.css';
@import './select.css';

.bin-icon {
  --b-icon-text-color: inherit;
}

.bin-icon {
  color: var(--b-icon-text-color);
}

.icon-loading,
.icon-is-rotating:before {
  display: inline-block;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
