:root {
  --vp-c-brand: var(--bin-color-priamry);
  --vp-home-hero-name-color: var(--bin-color-priamry);
  --vp-button-brand-bg: var(--bin-color-priamry);

  /* --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff; */
}

body {
  color: var(--vp-c-text-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}
