.fade-in-enter-active,
.fade-in-leave-active {
  transition: opacity var(--bin-animation-duration-base) cubic-bezier(0.55, 0, 0.1, 1);
}
.fade-in-enter-from,
.fade-in-leave-to {
  opacity: 0;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: opacity var(--bin-animation-duration-base) linear;
}
.fade-in-linear-enter-from,
.fade-in-linear-leave-to {
  opacity: 0;
}

.move-left-enter-active,
.move-left-leave-active {
  transition:
    opacity var(--bin-animation-duration-base) ease-in-out,
    transform var(--bin-animation-duration-base) ease-in-out;
  transform-origin: 0 0;
}
.move-left-enter-from,
.move-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.move-right-enter-active,
.move-right-leave-active {
  transition:
    opacity var(--bin-animation-duration-base) ease-in-out,
    transform var(--bin-animation-duration-base) ease-in-out;
}
.move-right-enter-from,
.move-right-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.zoom-in-center-enter-active,
.zoom-in-center-leave-active {
  transition:
    opacity var(--bin-animation-duration-base) cubic-bezier(0.55, 0, 0.1, 1),
    transform var(--bin-animation-duration-base) cubic-bezier(0.55, 0, 0.1, 1);
}
.zoom-in-center-enter-from,
.zoom-in-center-leave-to {
  opacity: 0;
  transform: scaleX(0);
}

.zoom-in-bottom-enter-active,
.zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform var(--bin-animation-duration-base) cubic-bezier(0.23, 1, 0.32, 1),
    opacity var(--bin-animation-duration-base) cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center bottom;
}
.zoom-in-bottom-enter-from,
.zoom-in-bottom-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-top-enter-active,
.zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition:
    transform var(--bin-animation-duration-base) cubic-bezier(0.23, 1, 0.32, 1),
    opacity var(--bin-animation-duration-base) cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
  &[data-popper-placement^='top'] {
    transform-origin: center bottom;
  }
}
.zoom-in-top-enter-from,
.zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.zoom-in-enter-active,
.zoom-in-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition:
    transform var(--bin-animation-duration-base) cubic-bezier(0.23, 1, 0.32, 1),
    opacity var(--bin-animation-duration-base) cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: left left;
}
.zoom-in-enter-from,
.zoom-in-leave-to {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition:
    height var(--bin-animation-duration-base) ease-in-out,
    padding-top var(--bin-animation-duration-base) ease-in-out,
    padding-bottom var(--bin-animation-duration-base) ease-in-out;
}

.horizontal-collapse-transition {
  transition:
    var(--bin-animation-duration-base) width ease-in-out,
    var(--bin-animation-duration-base) padding-left ease-in-out,
    var(--bin-animation-duration-base) padding-right ease-in-out;
}

.opacity-transition {
  transition: opacity var(--bin-animation-duration-base) cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-transverse-leave-active,
.fade-transverse-enter-active {
  transition:
    opacity var(--bin-animation-duration-base),
    transform var(--bin-animation-duration-base);
}
.fade-transverse-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-transverse-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-scale-leave-active,
.fade-scale-enter-active {
  transition:
    opacity var(--bin-animation-duration-base),
    transform var(--bin-animation-duration-base);
}
.fade-scale-enter-from {
  opacity: 0;
  transform: scale(1.2);
}
.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.fade-scale-move-leave-active,
.fade-scale-move-enter-active {
  transition:
    opacity var(--bin-animation-duration-base),
    transform var(--bin-animation-duration-base);
}
.fade-scale-move-enter-from,
.fade-scale-move-leave-to {
  opacity: 0;
  transform: scale(0.9) translateY(-30px);
}

.fade-down-leave-active,
.fade-down-enter-active {
  transition:
    opacity var(--bin-animation-duration-base),
    transform var(--bin-animation-duration-base);
}
.fade-down-enter-from,
.fade-down-leave-to {
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}
