.bin-back-top {
  position: fixed;
  z-index: 10;
  cursor: pointer;
  .bin-back-top-inner {
    background-color: var(--bin-overlay-backtop-bg);
    border-radius: 2px;
    box-shadow: var(--bin-shadow-backtop);
    transition: all var(--bin-animation-duration-base) ease-in-out;
    i {
      color: var(--bin-color-text-on-primary);
      font-size: 18px;
      padding: 8px 12px;
    }
  }
}
.back-top-fade-enter-active,
.back-top-fade-leave-active {
  transition: var(--bin-animation-duration-base);
}
.back-top-fade-enter,
.back-top-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}
